body {
  text-align: center;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  background-size: auto 130%;
  background-position: center center;
  min-height: 100vh;
}
h1 {
  display: inline-block;
  padding: 1rem 2rem;
  background: #3cffc9;
  font-weight: 900;
}
.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transition: 0.05s;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hour-hand {
  z-index: 3;
  background: black;
}
.min-hand {
  z-index: 2;
  background: rgb(24, 24, 24);
}
.sec-hand {
  z-index: 1;
  background: rgb(46, 46, 46);
}
.clock {
  width: 30rem;
  height: 30rem;
  border: 1.5rem solid white;
  border-radius: 50%;
  margin: 3rem auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}
.circle {
  width: 2rem;
  height: 2rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 4;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
}
